
@media only screen and (max-width: 550px) {
  .top-bar {
    .navbar {
      display: none;
    }

    .language-exchange {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      flex-direction: row-reverse;
    }
  }

  .header-top {
    .logo {
      display: none;
    }
    .cart {
      display: none;
    }
  }
}